@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black mx-24
}

@layer components {
    .anchor {
        font-family: 'Bebas Neue', cursive;
        @apply text-white m-10 w-full h-full text-lg whitespace-nowrap text-xl
    }

    .HomePageGraphicsText {
        font-family: 'Bebas Neue', cursive;
        @apply text-white font-bold text-5xl
    }

    .HomePageText {
        font-family: 'DM Sans', sans-serif;
        @apply text-white
    }
}

